.container{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.nextjs{
    color: #0F62FE;
}

.hometext{
    text-align: center;
}

.newsapp{
    position: relative;
}

.svg{
    position: absolute;
    width: 8rem;
    top: -2.5rem;
    right: 0rem;
    z-index: -1;
}

@media screen and (max-width: 300px) {

}